﻿@font-face {
  src: url('/Scripts/gentelella/vendors/font-awesome/fonts/fontawesome-webfont.eot'); /* IE9 Compat Modes */
  src: url('/Scripts/gentelella/vendors/font-awesome/fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/Scripts/gentelella/vendors/font-awesome/fonts/fontawesome-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('/Scripts/gentelella/vendors/font-awesome/fonts/fontawesome-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('/Scripts/gentelella/vendors/font-awesome/fonts/fontawesome-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/Scripts/gentelella/vendors/font-awesome/fonts/fontawesome-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/glyphicons-halflings-regular.woff') format('woff'), 
       url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

body{
    font-size: 13px;
}

.datepicker-icon{
    cursor: pointer; 
    cursor: hand;
}
.hide-column{
    display : none;
}

.container {
   max-height:662px !important;
}