﻿<!DOCTYPE html>
<html>
<head>
    <meta lang="en-us" charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">
    <title>Rental VCD</title>

    @Styles.Render("~/Content/bootstrapcss")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/gantelellacss")
    @Styles.Render("~/Content/layoutcss")
    @RenderSection("styles", required: false)

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/date")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/gantelellajs")
    @Scripts.Render("~/bundles/overlay")
    @Scripts.Render("~/bundles/custom")
    @Scripts.Render("~/bundles/layoutjs")
</head>

@{
    var title = "Rental VCD";
}
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">

                    </div>
                    <a href="~/"><h4 class="text-center" style="color:#ffffff">@title</h4></a>
                    <div class="ln_solid" style="margin-top:0px;"></div>
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Main Menu</h3>
                            <ul class="nav side-menu">

                                <li>
                                    <a><i class="fa fa-gears"></i> Master <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Index", new {controller = "Package", area = "Admin"})">Package</a></li>
                                        <li><a href="@Url.Action("Index", new {controller = "Know", area = "Admin"})">Source Member</a></li>
                                        <li><a href="@Url.Action("Index", new {controller = "Member", area = "Admin"})">Membership</a></li>
                                        <li><a href="@Url.Action("Index", new {controller = "Referal", area = "Admin"})">Referal</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-gears"></i> Proccess <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Index", new {controller = "Rent", area = "Admin"})">Rent</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-gears"></i> Report <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="@Url.Action("Index", new {controller = "Report", area = "Admin"})">Report Referal Member</a></li>

                                    </ul>
                                </li>
                                

                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                               
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main" style="min-height:637px !important;">
                <div class="">
                    @RenderBody()
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="text-center">
                    <p>&copy; @DateTime.Now.Year - copyright by Hary Muchtar</p>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
            @RenderSection("scripts", required: false)
        </div>
    </div>
</body>
</html>