﻿@model WebMVC.Data.Model.ViewModel.viewMember

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Master Membership<small>Add</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                @using (Ajax.BeginForm("Add", new { controller = "Member", area = "Admin" }, new
AjaxOptions
                {
                    OnComplete = "oncomplete",
                    OnFailure = "onfailure"
                }, new { @class = "form-horizontal" }))
                {

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.DisplayNameFor(x => x.IdentityNumber)
                        </label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(x => x.IdentityNumber, new { @class = "form-control col-md-7 col-xs-12", type = "number" })
                            @Html.ValidationMessageFor(x => x.IdentityNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.DisplayNameFor(x => x.FullNameMember)
                        </label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(x => x.FullNameMember, new { @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(x => x.FullNameMember, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.DisplayNameFor(x => x.Address)
                        </label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(x => x.Address, new { @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(x => x.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.DisplayNameFor(x => x.PhoneMember)
                        </label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(x => x.PhoneMember, new { @class = "form-control col-md-7 col-xs-12", type = "number" })
                            @Html.ValidationMessageFor(x => x.PhoneMember, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.DisplayNameFor(x => x.FullNameFriend1)
                        </label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(x => x.FullNameFriend1, new { @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(x => x.FullNameFriend1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.DisplayNameFor(x => x.PhoneFriend1)
                        </label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(x => x.PhoneFriend1, new { @class = "form-control col-md-7 col-xs-12", type = "number" })
                            @Html.ValidationMessageFor(x => x.PhoneFriend1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.DisplayNameFor(x => x.FullNameFriend2)
                        </label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(x => x.FullNameFriend2, new { @class = "form-control col-md-7 col-xs-12" })
                            @Html.ValidationMessageFor(x => x.FullNameFriend2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.DisplayNameFor(x => x.PhoneFriend2)
                        </label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(x => x.PhoneFriend2, new { @class = "form-control col-md-7 col-xs-12", type = "number" })
                            @Html.ValidationMessageFor(x => x.PhoneFriend2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.DisplayNameFor(x => x.Age)
                        </label>
                        <div class="col-md-2 col-sm-2 col-xs-12">
                            @Html.TextBoxFor(x => x.Age, new { @class = "form-control col-md-2 col-xs-12", type = "number" })
                            @Html.ValidationMessageFor(x => x.Age, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">

                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.DisplayNameFor(x => x.AnotherMembership)
                        </label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            @Html.RadioButtonFor(model => model.AnotherMembership, "Yes") Yes
                            @Html.RadioButtonFor(model => model.AnotherMembership, "No") No
                        </div>
                    </div>


                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                @Html.DisplayNameFor(x => x.PackageId)
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                @Html.DropDownListFor(x => x.PackageId, new SelectList(ViewBag.SelectPackage, "Value", "Text"), "- Select -")
                                @Html.ValidationMessageFor(x => x.PackageId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                @Html.DisplayNameFor(x => x.KnowId)
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                @Html.DropDownListFor(x => x.KnowId, new SelectList(ViewBag.SelectSource, "Value", "Text"), "- Select -")
                                @Html.ValidationMessageFor(x => x.KnowId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @Html.AntiForgeryToken()

                        <div class="ln_solid"></div>

                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button class="btn btn-primary" type="button">Cancel</button>
                                <button class="btn btn-primary" type="reset">Reset</button>
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('button[type=button]').click(function () {
            window.location.href = '@Url.Action("index")';
        });

        $('button[type=reset]').click(function () {
            $('form')[0].reset();
        });
    });
</script>
