﻿@model WebMVC.Data.Model.tblMember

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Master Member<small>Edit</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="pull-right">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                @using (Ajax.BeginForm("Edit", new { controller = "Member", area = "Admin" }, new AjaxOptions
                {
                    OnComplete = "oncomplete",
                    OnFailure = "onfailure"
                }, new { @class = "form-horizontal" }))
                {

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.DisplayNameFor(x => x.IdMember)
                        </label>
                        <div class="col-md-1 col-sm-12 col-xs-12 form-group">
                            @Html.TextBoxFor(x => x.IdMember, new { @readonly = "readonly", @class = "form-control col-md-1 col-xs-12" })
                            @Html.ValidationMessageFor(x => x.IdMember, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.DisplayNameFor(x => x.FullNameMember)
                        </label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(x => x.FullNameMember, new { @readonly = "readonly", @class = "form-control col-md-1 col-xs-12" })
                            @Html.ValidationMessageFor(x => x.FullNameMember, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.DisplayNameFor(x => x.Address)
                        </label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(x => x.Address, new { @readonly = "readonly", @class = "form-control col-md-1 col-xs-12" })
                            @Html.ValidationMessageFor(x => x.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">

                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Html.DisplayNameFor(x => x.IsActive)
                        </label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            @Html.RadioButtonFor(model => model.IsActive, "Yes") Yes
                            @Html.RadioButtonFor(model => model.IsActive, "No") No
                        </div>
                    </div>

                    @Html.AntiForgeryToken()

                    <div class="ln_solid"></div>

                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button class="btn btn-primary" type="button">Cancel</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('button[type=button]').click(function () {
        window.location.href = '@Url.Action("index")';
    });
</script>