﻿@model IEnumerable<WebMVC.Data.Model.ViewModel.viewMember>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<div class="page-title">
    <div class="title_left">
        <h3>Master Member</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2> <small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"><h4><strong>List of Member</strong></h4></div>
            </div>
            <div class="x_content">
                <table id="datatable-buttons" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.IdMember)</th>
                            <th>@Html.DisplayNameFor(model => model.IdentityNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.FullNameMember)</th>
                            <th>@Html.DisplayNameFor(model => model.PhoneMember)</th>
                            <th>@Html.DisplayNameFor(model => model.Age)</th>
                            <th>@Html.DisplayNameFor(model => model.KnowFrom)</th>
                            <th>@Html.DisplayNameFor(model => model.PackageName)</th>
                            <th>@Html.DisplayNameFor(model => model.RegistrationDate)</th>
                            <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                            <th>Action</th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var m in Model)
                        {
                            <tr>
                                <td>@Html.DisplayFor(item => m.IdMember)</td>
                                <td>@Html.DisplayFor(item => m.IdentityNumber)</td>
                                <td>@Html.DisplayFor(item => m.FullNameMember)</td>
                                <td>@Html.DisplayFor(item => m.PhoneMember)</td>
                                <td>@Html.DisplayFor(item => m.Age)</td>
                                <td>@Html.DisplayFor(item => m.KnowFrom)</td>
                                <td>@Html.DisplayFor(item => m.PackageName)</td>
                                <td>@Html.DisplayFor(item => m.RegistrationDate)</td>
                                <td>@Html.DisplayFor(item => m.IsActive)</td>
                                <td>@Html.ActionLink("Edit", "Edit", new { id = m.IdMember }) | <a href="#" class="linkDelete">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>

                @Html.ActionLink("Add New", "Add", null, new { @class = "btn btn-primary" })

            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/gentelella/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/Scripts/buttons.html5.min.js"></script>
    <script type="text/javascript">

        $(function () {
            $('#datatable-buttons').DataTable({
                order: [[1, "asc"]]
            });
        });
        $(function () {
            $('#datatable-tmp').DataTable({
                "columnDefs": [
                    { "orderable": false, "targets": 0 }
                ],
                order: [[1, "asc"]]
            });
        });


        $(document).ready(function () {
            $('.table').on('click', '.linkDelete', function (e) {
                var tr = $(this).closest('tr');
                var Nip = tr.find("td").eq(0).text();
                deleteOnTable({
                    table: $(this),
                    token: $('input[name="__RequestVerificationToken"]').val(),
                    url: '@Url.RouteUrl(new { controller = "Member", area = "Admin", action = "Delete" })',
                    parameter: { IdMember: IdMember }
                });
            });
        });
    </script>
}




