﻿@model IEnumerable<WebMVC.Data.Model.tblPackage>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<div class="page-title">
    <div class="title_left">
        <h3>Master Package</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2> <small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"><h4><strong>List of Package</strong></h4></div>
            </div>
            <div class="x_content">
                <table id="datatable-buttons" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th style="display:none">@Html.DisplayNameFor(model => model.PackageId)</th>
                            <th>@Html.DisplayNameFor(model => model.PackageName)</th>
                            <th>@Html.DisplayNameFor(model => model.MaxRent)</th>
                            <th>@Html.DisplayNameFor(model => model.CostPerMonth)</th>
                            <th>Action</th>
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var m in Model)
                        {
                            <tr>
                                <td style="display:none">@Html.DisplayFor(item => m.PackageId)</td>
                                <td>@Html.DisplayFor(item => m.PackageName)</td>
                                <td>@Html.DisplayFor(item => m.MaxRent)</td>
                                <td>@Html.DisplayFor(item => m.CostPerMonth)</td>
                                <td>@Html.ActionLink("Edit", "Edit", new { id = m.PackageId }) | <a href="#" class="linkDelete">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>

                @Html.ActionLink("Add New", "Add", null, new { @class = "btn btn-primary" })

            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/gentelella/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/Scripts/buttons.html5.min.js"></script>
    <script type="text/javascript">

            $(function () {
                $('#datatable-buttons').DataTable({
                    order: [[1, "asc"]]
                });
            });
            $(function () {
                $('#datatable-tmp').DataTable({
                    "columnDefs": [
                        { "orderable": false, "targets": 0 }
                    ],
                    order: [[1, "asc"]]
                });
            });


            $(document).ready(function () {
                $('.table').on('click', '.linkDelete', function (e) {
                    var tr = $(this).closest('tr');
                    var id = tr.find("td").eq(0).text();
                    deleteOnTable({
                        table: $(this),
                        token: $('input[name="__RequestVerificationToken"]').val(),
                        url: '@Url.RouteUrl(new { controller = "Package", area = "Admin", action = "Delete" })',
                        parameter: { id: id }
                    });
                });
            });
    </script>
}


