﻿@model IEnumerable<WebMVC.Data.Model.ViewModel.viewMemberReferal>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()
<div class="page-title">
    <div class="title_left">
        <h3>Report Referal Member</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2> <small></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"><h4><strong>List of Referal Member</strong></h4></div>
            </div>
            <div class="x_content">
                <table id="datatable-buttons" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th style="display:none">@Html.DisplayNameFor(model => model.IdMember)</th>
                            <th>@Html.DisplayNameFor(model => model.FullNameMember)</th>
                            <th>@Html.DisplayNameFor(model => model.FullNameFriend)</th>
                            <th>@Html.DisplayNameFor(model => model.PhoneFriend)</th>
                            <th>@Html.DisplayNameFor(model => model.RegistrationDate)</th>
                            
                        </tr>

                    </thead>
                    <tbody>
                        @foreach (var m in Model)
                        {
                            <tr>
                                <td style="display:none">@Html.DisplayFor(item => m.IdMember)</td>
                                <td>@Html.DisplayFor(item => m.FullNameMember)</td>
                                <td>@Html.DisplayFor(item => m.FullNameFriend)</td>
                                <td>@Html.DisplayFor(item => m.PhoneFriend)</td>
                                <td>@Html.DisplayFor(item => m.RegistrationDate)</td>
                                
                            </tr>
                        }
                    </tbody>
                </table>

                
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/gentelella/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/Scripts/buttons.html5.min.js"></script>
    <script type="text/javascript">

            $(function () {
                $('#datatable-buttons').DataTable({
                    order: [[1, "asc"]]
                });
            });
            $(function () {
                $('#datatable-tmp').DataTable({
                    "columnDefs": [
                        { "orderable": false, "targets": 0 }
                    ],
                    order: [[1, "asc"]]
                });
            });


            $(document).ready(function () {
                $('.table').on('click', '.linkDelete', function (e) {
                    var tr = $(this).closest('tr');
                    var id = tr.find("td").eq(0).text();
                    deleteOnTable({
                        table: $(this),
                        token: $('input[name="__RequestVerificationToken"]').val(),
                        url: '@Url.RouteUrl(new { controller = "Package", area = "Admin", action = "Delete" })',
                        parameter: { id: id }
                    });
                });
            });
    </script>
}


