﻿@model WebMVC.Data.Model.tblLogin

@{
    Layout = null;
}

@*https://bootsnipp.com/snippets/featured/login-amp-signup-forms-in-panel*@


<!DOCTYPE html>
<html>
<head>
    <meta lang="en-us" charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">
    <title>Aplikasi Ujian Online</title>

    <script type="text/javascript" src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="~/Scripts/gentelella/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <link rel="stylesheet" href="~/Scripts/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <div class="container">
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            @*<div class="nav nav-justified" style="background-color:#333030">
                    <img src="@Url.Content("~/images/dbs.png")" />
                </div>*@

            <img class="img-responsive center-block" src="@Url.Content("~/image/logo.png")" />
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Sign In</div>
                    <div style="float:right; font-size: 80%; position: relative; top:-10px"><strong>Silahkan Masukan NIP dan Password Anda</strong></div>
                </div>
                <div style="padding-top:30px" class="panel-body">
                    @using (Html.BeginForm("login", "account", new { returnurl = ViewBag.returnurl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", autocomplete = "false" }))                    
                    {
                        @Html.AntiForgeryToken()

                        <div style="margin-bottom: 5px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            @Html.TextBoxFor(x => x.NIP, "", new { @class = "form-control", placeholder = "Masukan NIP" })
                        </div>
                        <div class="input-group">
                            @Html.ValidationMessageFor(model => model.NIP, "", new { @class = "text-danger" })
                        </div>

                        <div style="margin-top:15px" class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            @*@Html.TextBoxFor(x => x.Password, "", new { type = "password", @class = "form-control", placeholder = "Password" })*@
                            @Html.TextBoxFor(x => x.Password, "", new { type = "password", @class = "form-control", placeholder = "Masukan Password" })
                        </div>
                        <div style="margin-top:5px; margin-bottom: 15px;margin-top:15px" class="input-group">
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        if (TempData["Alert"] != null)
                        {
                            <label>@TempData["Alert"]</label>
                        }
                        <div style="margin-top:10px" class="form-group">
                            <div class="col-sm-12 controls">
                                <button class="btn btn-primary pull-right" type="submit">Login</button>
                            </div>
                        </div>
                    }

                    @if (ViewBag.Message != null)
                    {
                        <div class="alert alert-warning">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong>Warning!</strong> @ViewBag.Message
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
