﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div style="margin-top: 10px;"></div>
        @*<img src="@Url.Content("~/image/image-slider-1.png")" alt="logo" class="img-responsive center-block" />*@
        
    </div>
</div>